# Live coding challenge - Feb 26, 2020

### Michael Boles

## SQL

Table:  Products

ProductName, Inventory

Create new column named Reorder (Yes) if Inventory is below 50, No if above 50

In [ ]:
# My response -- seems to work
SELECT ProductName, 
        Inventory,
        CASE 
            WHEN Inventory > 50 THEN 'No'
            ELSE 'Yes'
        END AS Reorder
FROM Products;

In [ ]:
# One more condition in CASE statement - account for possibility of NULL value in Inventory column
SELECT ProductName, 
        Inventory,
        CASE 
            WHEN Inventory > 50 THEN 'No'
            WHEN Inventory <= 50 THEN 'Yes'
            ELSE 'Yes'    # In case of NULL say 
        END AS Reorder
FROM Products;

From Employees, return Department, EmployeeName, and Salary 
for the employee with the highest salary in each department

In [ ]:
# My response
SELECT Department, MAX(Salary) AS MaxSalary
FROM Employees as t1
GROUP BY Department
JOIN Employees AS t2
ON t2.Salary = t1.MaxSalary
AND t2.Department = t1.Department;

In [ ]:
# Alternative with window function
SELECT Department, 
        EmployeeName, 
        Salary, 
        RANK() OVER(PARTITION BY Department ORDER BY Salary DESC) AS SalaryRank
FROM Employees
WHERE SalaryRank = 1;

In [ ]:
# A similar approach
SELECT Department, 
        EmployeeName, 
        Salary, 
        MAX(Salary) OVER(PARTITION BY Department)
FROM Employees
WHERE Salary = MAX(Salary)

In [ ]:
SELECT Department, EmployeeName, Salary
FROM Employees
WHERE (Department, Salary) IN
    (SELECT Department, MAX(Salary)
    FROM Employees
    GROUP BY Department)

#### Algorithms

Given a sorted array, write an algo to determine if a given number is in that array. Assume that all numbers are integers, solution should be O(logN). Output should be Boolean

In [4]:
array = [1,2,4,6,7,8,9]

def check_array(input_array, target):
    array_set = set(array)
    
    if target in array_set:
        result = True
    else:
        result = False
    
    return result

check_array(array, 3)

False

In [ ]:
array = [1,2,4,6,7,8,9]

def check_array(input_array, target):
    
    # Binary search instead of iterating over list!
    
    # find index of input array midpoint
    split_index = len(input_array)//2
    
    # find value of input array midpoint
    array_midval = input_array[split_index]
    
    # if array midpoint = target value, return true
    answer = []
    if target == array_midval:
        answer = True
    
    # if array is length one and it doesn't contain target return false
    if len(input_array) == 1:
        answer = False
    
    # else check which side the target is on, return side of interest
    elif target < array_midval:
        new_array = input_array[:split_index]
    else:
        new_array = input_array[split_index:]
    
    # rerun this function on split array
    check_array(new_array, target)
    
    if answer: 
        print(answer)

check_array(array, 3)

In [ ]:
def find(arr, n):
    l = 0
    r = len(arr) - 1
    if arr[l] == n or arr[r] == n:
        return True
    if arr[l] > n or array[r] < n:
        return False
    curr = (l+r)//2
    while arr[arr] != n and l < r:
        if arr[arr] > n:
            r = curr
        else:
            l = curr

In [ ]:
Given a DNA sequence string 'ACTGACTGACTGACTGACTG'
1. Find the beginning of a gene ('ATG')
2. Return amino acid sequence of a gene (three nucleotides make a codon)
3. Three codons indicate end of gene ('TGA', 'TAA', 'TAG')
4. Assume you have codon table stored as dictionary in memory

In [ ]:
# My approach - uses regex

dna_seq = 'ATGAAATGTTGAATGTGTGAATAA'

codon_to_aa = {'AA1': 'AGT',
               'AA2': 'AAG'}

start_codon = 'ATG'
stop_codon_1 = 'TGA'
stop_codon_2 = 'TAA'
stop_codon_3 = 'TAG'

# return indices of start codons
import re
start = re.compile(r'start_codon', dna_seq)

# return indices of stop codons
stop = re.compile(r'(stop_codon_1|stop_codon_2|stop_codon_3)', dna_seq)

# construct nucleotide sequence for each gene
genes_aa = []
for i in start: 
    gene = dna_seq[start:stop]
    genes_aa.append(gene)

# translate nucleotide sequence to amino acids

In [ ]:
# Better approach - uses CS fundamentals

seq = 'ATGAAATGTTGAATGTGTGAATAA'
codons = {'ATG': 'start',
          'TGA': 'stop',
          'TAA': 'stop',
          'TAA': 'stop',
          'TAT': 'L'      # amino acid list
}

amino_seq = []
for i in range(0, len(sequence)-3):
    
    # search for start codon
    if sequence[i:i+3] == 'ATG'
        i+=3
    
    while codons[sequence[i:i+3]] != 'TGA' or 'TAA' or 'TAG':
    
    # translate the codon into amino acids
            amino_seq.append(codons[sequence[i:i+3]])

return amino_seq.flatten   # returns single string of amino acids


1